:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

    --black:#2b2d30;
    --dark: rgb(18, 24, 70);
    --black:rgb(0, 0, 0);
    --black-lighter: #2b3038;
    --gradient3: linear-gradient(98.37deg, #126291 .99%, #273c44 100%);
    --gradient4: linear-gradient(98.37deg, #7da6c2 0.99%, #3b3c58 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--black);
}

::-webkit-scrollbar {
  display: none;
}