@import '../../mixins.scss';
.card{
    width: 100%;
    height: 100%;
    background-color: wheat;
    max-width: 200px;
    margin: 10px 20px 10px 20px;
    display: inline-block;
    position: relative;
    transition: all ease 0.5s;
    border-radius: 5px;
    box-shadow: 0 0 .5rem rgb(97, 97, 97);
    &:hover {
        box-shadow: 0 0 1rem white;
        color: var(--dark);
        transition: all ease .5s;
        .rating{
            transition: all ease 1s;
            background: rgb(255, 255, 255);
            border: 4px solid rgb(53, 189, 40);
            border-style: groove;
            color: rgb(0, 75, 71);
            height: 50px;
            width: 50px;
            box-shadow: 0 0 2rem green;
            @include md{
                height: 45px;
                width: 45px;
            }
            @include sm{
                height: 40px;
                width: 40px;
            }
        }
    }
    .lazy-load{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        // display: none;
    }
    .rating{
        margin:5px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 50%;
        border: 5px solid rgb(53, 189, 40);
        border-style: groove;
        position: absolute;
        bottom: 0;
        color: rgb(0, 0, 0);
        background:rgb(255, 255, 255);
        height: 40px;
        width: 40px;
        font-weight: 700;
        font-size: 18px;
        @include md{
            font-size: 15px;
            height: 35px;
            width: 35px;
            border: 3px solid rgb(53, 189, 40);
            border-style: groove;
        }
        @include sm{
            border: 2px;
            height: 30px;
            width: 30px;
            font-size: 10px;
            border: 2px solid rgb(53, 189, 40);
            border-style: groove;
        }
    }
    @include lg{
        margin: 10px;
        max-width: 180px;
        height: 100%;
    }
    @include md{
        max-width: 160px;
        height: 100%;
        margin: 5px;
    }
    @include sm{
        max-width: 140px;
        height: 100%;
    }
}
.cardOverride{
    width: 200px;
    height: 300px;
    background-color: wheat;
    max-width: 200px;
    margin: 10px 20px 10px 20px;
    display: inline-block;
    position: relative;
    transition: all ease 0.5s;
    border-radius: 5px;
    box-shadow: 0 0 .5rem rgb(97, 97, 97);
    &:hover {
        box-shadow: 0 0 1rem white;
        color: var(--dark);
        transition: all ease .5s;
        .rating{
            transition: all ease 1s;
            background: rgb(255, 255, 255);
            border: 4px solid rgb(53, 189, 40);
            border-style: groove;
            color: rgb(0, 75, 71);
            height: 50px;
            width: 50px;
            box-shadow: 0 0 2rem green;
            @include md{
                height: 45px;
                width: 45px;
            }
            @include sm{
                height: 40px;
                width: 40px;
            }
        }
    }
    .lazy-load{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        // display: none;
    }
    .rating{
        margin:5px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 50%;
        border: 5px solid rgb(53, 189, 40);
        border-style: groove;
        position: absolute;
        bottom: 0;
        color: rgb(0, 0, 0);
        background:rgb(255, 255, 255);
        height: 40px;
        width: 40px;
        font-weight: 700;
        font-size: 18px;
        @include md{
            font-size: 15px;
            height: 35px;
            width: 35px;
            border: 3px solid rgb(53, 189, 40);
            border-style: groove;
        }
        @include sm{
            border: 2px;
            height: 30px;
            width: 30px;
            font-size: 10px;
            border: 2px solid rgb(53, 189, 40);
            border-style: groove;
        }
    }
    @include lg{
        justify-content: space-between;
        height: 300px;
        width: 200px;
    }
    @include md{
        justify-content: space-between;
        width: 180px;
        height: 250px;
    }
    @include sm{
        justify-content: space-between;
        width: 140px;
        height: 200px;
    }
    @include xsm{
        width: 100px;
        height: 140px;
    }
}
