@import '../../../mixins.scss';
.banner{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    .lazy-load{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        object-fit: cover;
        object-position: center;
    }
    @include md{
        height: 50vw;
    }
    @include sm{
        height: 60vw;
    }
    .bannerContent{
        max-width: 800px;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 3;
        width: 80vw;
        height: 150px;
        font-size: 18px;
        @include md{
            height: 125px;
            font-size: 15px;
        }
        @include sm{
            height: 100px;
            font-size: 12px;
        }
        .tittle{
            color: white
        }
        .searchInput{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
            opacity: 0.7;
            
            input{
                mix-blend-mode: difference;
                border-radius:40px 0 0 40px;
                height: 60%;
                margin: 0 auto;
                border: 0;
                outline: 0;
                text-align: center;
                padding: 0 0 0 20%;
                top: 0;
                width: 80%;
                font-size: 18px;
                @include md{
                    font-size: 15px;
                }
                @include sm{
                    font-size: 10px;
                    width: 75%;
                }
            }
            input::placeholder{
                color:white;
                opacity: 1;
            }
            button{
                border: 0;
                margin: 0 auto;
                border-radius: 0 40px 40px 0;
                width: 20%;
                height: 60%;
                outline: 0;
                text-align: center;
                align-items: center;
                font-size: 18px;
                background-color: black;
                // background: var(--gradient);
                @include md{
                    font-size: 15px;
                }
                @include sm{
                    width: 25%;
                    font-size: 10px;
                }

            }
            button:hover{
                background-color: black;
                color: #04152d;
            }
        }

    }
    .opacityLayer{
        width: 100%;
        height: 250px;
        background: linear-gradient(
            180deg,
            rgba(4, 21, 45, 0) 0%,
            #04152d 79.17%
        );
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}