@import '../../mixins.scss';

.loading{
    margin-top: 10vh;
    text-align: center;
    font-size: 200px;
    @include md{
        font-size: 150px;
    }
    @include sm{
        font-size: 100px;
    }
    @include xsm{
        font-size: 70px;
    }
}

.filterBanner{
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    .heading{
        text-align: center;
    }
}